[Unit]
Description=Recipe Manager Frontend
After=network-online.target reci-backend.service
Wants=network-online.target
Requires=reci-backend.service
BindsTo=reci-backend.service
PartOf=reci-backend.service

[Container]
Image=ghcr.io/evolite/reci-frontend:latest
ContainerName=reci-frontend
Network=services-network
PublishPort=4001:80
DNS=8.8.8.8
DNS=1.1.1.1
AddHost=host.docker.internal:host-gateway
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
